<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.song.repository.HistoryRepository">
	<resultMap type="com.song.vo.HistoryVo" id="historyMap">
		<result property="historyNo" column="HISTORY_NO"/>
		<result property="regDate" column="REG_DATE"/>
		<result property="shopName" column="SHOP_NAME"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="amount" column="AMOUNT"/>
		<result property="price" column="PRICE"/>
		<result property="cardNo" column="CARD_NO"/>
		<result property="totalPrice" column="TOTAL_PRICE"/>
		<result property="eachBalance" column="each_balance"/>
		<!-- property = Vo쪽의 이름 //  column = 밑에 쓰는 컬럼에서의 이름 -->
		
	</resultMap>
	
	<insert id="RegSave" parameterType="com.song.vo.HistoryVo">
		INSERT INTO tb_history
		(
			HISTORY_NO,
			REG_DATE,
			SHOP_NAME,
			PRODUCT_NAME,
			AMOUNT,
			PRICE,
			CARD_NO
		)
		VALUES
		(
			#{historyNo},
			#{regDate},
			#{shopName},
			#{productName},
			#{amount},
			#{price},
			#{cardNo}
		);
	</insert>
	
	<!-- 이용 내역 번호 자동가져오기 -->
	<select id="historyNo" resultType="Integer">
		SELECT ifnull(max(history_no),0)+1 FROM tb_history
	</select>
	
	<!-- 카드 사용 내역 -->
	<select id="getHistoryList" resultMap="historyMap">
		SELECT
			a.history_no,
			a.reg_date,
			a.shop_name,
			a.product_name,
			a.amount,
			a.price,
			a.card_no,
			a.AMOUNT * a.PRICE AS TOTAL_PRICE,
		(
			SELECT SUM(b.AMOUNT * b.PRICE) AS TOTAL_PRICE
			FROM TB_HISTORY b
			WHERE b.history_no = a.history_no
		) AS each_balance
		FROM
			tb_history a
	</select>
	
	<!-- 총 소비액 -->
	<select id="totalPrice" resultType="Integer">
		SELECT
			sum(AMOUNT * PRICE) AS TOTAL_PRICE
		FROM
			TB_HISTORY
	</select>
	
	<!-- 잔액 -->
	<select id="totalBalance" resultType="Integer">
	SELECT
		(
		a.BALANCE - SUM(b.AMOUNT * b.PRICE)
		)
		AS totalbalance
	FROM
		tb_card a
	INNER JOIN
		tb_history b
	</select>
	
	<!-- 삭제 -->
	<delete id="delete" parameterType="Integer">
		DELETE FROM tb_history
		WHERE history_no = #{historyNo}
	</delete>
	
	
</mapper>
